*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 30px;
}
h1{
    text-align: center;
    margin: 30px;
}
img{
    display: flex;
}
body{
    background:linear-gradient(to left, rgba(0, 221, 199, 0.9),rgba(1, 112, 101, 0.9), rgb(0, 53, 48,0.9));
    color: rgb(255, 255, 255);
    margin-top: 80px;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 13px;
}
nav{
    font-size: 25px;
    background:linear-gradient(to right, rgba(0, 221, 199, 0.9),rgba(1, 112, 101, 0.9), rgb(0, 53, 48,0.9));
    position: fixed;
    top: 0;
    width: 100%;
    text-align: right;
    height: 50px;
    padding-top: 10px;
}
a:hover{
    color: rgb(136, 255, 0);
}
#name{
    color:rgb(0, 53, 48,0.9);
    font-size: 25px;
    font-weight: bold;
    float: left;
    text-align: center;
}
button{
    display: flex;
    margin: auto;
    font-size: 30px;
    padding: 2px;
    border-radius: 25px;
    background-color: transparent;
    border: none;
    color: #ffffff;
}
button:hover{
    background-color: rgb(0, 255, 242);
    font-size: 32px;
    color: black;
}
h1{
    padding: 15px;
}
img{
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 15px;
    box-shadow:10px 10px 20px rgba(0, 0, 0, 0.670);

}
pre{
    white-space: pre-wrap;
    padding: 10px;
    padding-top: 30px;
}
table{
    border: 3px solid rgba(60, 255, 180, 0.7);
    border-radius: 15px;
    width: auto;
    margin: auto;
}
td,th{
    border: 3px solid rgb(60, 255, 180,0.7);
    border-radius: 10px;
    padding:25px;
    font-size: 30px;
    white-space: pre-wrap;
}
th{
    color: #ffffff;
    font-weight: bold;
}
.profiletab{
    th{
        color: rgb(243, 245, 244);
        margin: auto;
        padding: 10px;
    }
}
.contacttab{
    th{
        color: rgb(243, 245, 244);
        margin: auto;
        padding: 10px;
    }
}
p{
    padding: 40px;
}
div{
    padding:150px;
}
.name1{
    color:  rgb(166, 255, 0);
    text-decoration: dotted underline;
    font-weight: bold;
    font-size: px;
}
/* #hobby1{
    border-radius: 15px;
    background-color: #0dac4f;
    padding: 20px;
    margin: 30px;
    width: 50%;
    text-align: center;
}
#hobby2{
    border-radius: 15px;
    background-color: #0dac4f;
    padding: 20px;
    margin: 30px;
    width: 50%;
    text-align: center;
}
#hobby3{
    border-radius: 15px;
    background-color: #0dac4f;
    padding: 20px;
    margin: 30px;
    width: 50%;
    text-align: center;
    display:inline-block;
    text-align: center;
} */
#hobby1,#hobby2,#hobby3{
    display:inline-block;
    padding:20px;
    width: 500px;
    margin:10px;
    /* background-color:#0dac4f; */
    border-radius:20px;
    box-shadow:10px 10px 20px rgba(0, 0, 0, 0.670);
    text-align:center;
    font-weight:bold;
}
#hobby1:hover,#hobby2:hover,#hobby3:hover{
    font-size: 35px;
    padding: 25px;
}
/* #hobby1:hover{
    font-size: 35px;
    padding: 25px;
}
#hobby2:hover{
    font-size: 35px;
    padding: 25px;
}
#hobby3:hover{
    font-size: 35px;
    padding: 25px;
} */
/* #strength1{
    border-radius: 15px;
    background-color: #0dac4f;
    padding: 20px;
    margin: 30px;
    width: 50%;
    text-align: center;
}
#strength2{
    border-radius: 15px;
    background-color: #0dac4f;
    padding: 20px;
    margin: 30px;
    width: 50%;
    text-align: center;
}
#strength3{
    border-radius: 15px;
    background-color: #47ecc3;
    color: black;
    padding: 20px;
    margin: 30px;
    width: 50%;
    text-align: center;
    display:grid
}
#strength4{
    border-radius: 15px;
    background-color: #0dac4f;
    padding: 20px;
    margin: 30px;
    width: 50%;
    text-align: center;
    display:grid
} */
#strength1,#strength2,#strength3,#strength4{
    display:inline-block;
    padding:20px;
    width: 500px;
    margin:10px;
    /* background-color:#0dac4f; */
    border-radius:20px;
    box-shadow:10px 10px 20px rgba(0, 0, 0, 0.670);
    text-align:center;
    font-weight:bold;
}
#strength1:hover,#strength2:hover,#strength3:hover,#strength4:hover{
    font-size: 35px;
    padding: 25px;
}
/* #strength1:hover{
    font-size: 35px;
    padding: 25px;
}
#strength2:hover{
    font-size: 35px;
    padding: 25px;
}
#strength3:hover{
    font-size: 35px;
    padding: 25px;
}
#strength4:hover{
    font-size: 35px;
    padding: 25px;
} */
#skill1,#skill2,#skill3,#skill4{
    display:inline-block;
    padding:20px;
    width: 500px;
    margin:15px;
    border-radius:20px;
    box-shadow:10px 10px 20px rgba(0, 0, 0, 0.670);
    text-align:center;
    font-weight:bold;
    vertical-align: top;
    height: auto;
    gap:30px;
    ul{
        text-align: left;
        list-style-position: inside;
    }
    
}
#skill1:hover,#skill2:hover,#skill3:hover,#skill4:hover{
    font-size: 35px;
    padding: 25px;
}
#skill2,#skill3{
    h4{
        margin-bottom: 35px;
    }
}
/* #skill1:hover{
    font-size: 35px;
    padding: 25px;
}
#skill2:hover{
    font-size: 35px;
    padding: 25px;
}
#skill3:hover{
    font-size: 35px;
    padding: 25px;
}
#skill4:hover{
    font-size: 35px;
    padding: 25px;
} */
#p1l1,#p1l2,#p1l3{
    display:inline-block;
    padding:20px;
    width: 500px;
    margin:10px;
    /* background-color:#0dac4f; */
    border-radius:20px;
    box-shadow:10px 10px 20px rgba(0, 0, 0, 0.670);
    text-align:center;
    font-weight:bold;
}
#p1l1:hover,#p1l2:hover,#p1l3:hover{
    font-size: 35px;
    padding: 25px;
}
#p1f1,#p1f2,#p1f3,#p1f4,#p1f5,#p1f6{
    display:inline-block;
    padding:20px;
    width: 500px;
    margin:10px;
    /* background-color:#0dac4f; */
    border-radius:20px;
    box-shadow:10px 10px 20px rgba(0, 0, 0, 0.670);
    text-align:center;
    font-weight:bold;
}
#p1f1:hover,#p1f2:hover,#p1f3:hover,#p1f4:hover,#p1f5:hover,#p1f6:hover{
    font-size: 35px;
    padding: 25px;
}
#p2l1,#p2l2{
    display:inline-block;
    padding:20px;
    width: 500px;
    margin:10px;
    /* background-color:#0dac4f; */
    border-radius:20px;
    box-shadow:10px 10px 20px rgba(0, 0, 0, 0.670);
    text-align:center;
    font-weight:bold;
}
#p2l1:hover,#p2l2:hover{
    font-size: 35px;
    padding: 25px;
}
#p2f1,#p2f2,#p2f3,#p2f4,#p2f5,#p2f6{
    display:inline-block;
    padding:20px;
    width: 500px;
    margin:10px;
    /* background-color:#0dac4f; */
    border-radius:20px;
    box-shadow:10px 10px 20px rgba(0, 0, 0, 0.670);
    text-align:center;
    font-weight:bold;
}
#p2f1:hover,#p2f2:hover,#p2f3:hover,#p2f4:hover,#p2f5:hover,#p2f6:hover{
    font-size: 35px;
    padding: 25px;
}
@media(max-width: 500px){
    body{
        font-size:15px;
    }
    a{
        font-size: 30px;
        text-align: center;
        margin: auto;
        padding: 4px;
    }
    nav{
        font-size:20px;
        text-align: right;
        height: auto;
    }
    #name{
        color:rgb(0, 53, 48,0.9);
        font-size: 40px;
        font-weight: bold;
    }
    .name1{
        text-shadow: 10px 10px 20px rgb(0, 0, 0);
        font-size: 40px;
    }
    h1,h2,h3,h4{
        font-size: 30px;
    }
    button{
        font-size: 30px;
        padding: 10px;
    }
    pre{
        font-size: 25px;
        padding-bottom: 20px;
    }
    img{
        width: 90%;
    }
    div{
        padding-bottom: 100px;
        padding-right: 20px;
        padding-left: 20px;
        margin: auto;
    }
    #hobby1,#hobby2,#hobby3{
        font-size: 25px;
        width: 100%;
        display: block;
        margin: auto;
        margin-left: auto;
    }
    #strength1,#strength2,#strength3,#strength4{
        font-size: 25px;
        width: 100%;
        display: block;
        margin: auto;
        margin-left: auto;
    }
    #skill1,#skill2,#skill3,#skill4{
        font-size: 25px;
        width: 100%;
        display: block;
        margin: auto;
        margin-left: auto;
    }
    #p1l1,#p1l2,#p1l3{
        font-size: 25px;
        width: 100%;
        display: block;
        margin: auto;
        margin-left: auto;
    }
    #p1f1,#p1f2,#p1f3,#p1f4,#p1f5,#p1f6{
        font-size: 25px;
        width: 100%;
        display: block;
        margin: auto;
        margin-left: auto;
    }
    #p2l1,#p2l2{
        font-size: 25px;
        width: 100%;
        display: block;
        margin: auto;
        margin-left: auto;
    }
    #p2f1,#p2f2,#p2f3,#p2f4,#p2f5,#p2f6{
        font-size: 25px;
        width: 100%;
        display: block;
        margin: auto;
        margin-left: auto;
    }
    #hobby1:hover,#hobby2:hover,#hobby3:hover,#strength1:hover,#strength2:hover,#strength3:hover,#strength4:hover,#skill1:hover,#skill2:hover,#skill3:hover,#skill4:hover,#p1l1:hover,#p1l2:hover,#p1l3:hover,#p1f1:hover,#p1f2:hover,#p1f3:hover,#p1f4:hover,#p1f5:hover,#p1f6:hover,#p2l1:hover,#p2l2:hover,#p2f1:hover,#p2f2:hover,#p2f3:hover,#p2f4:hover,#p2f5:hover,#p2f6:hover{
        font-size: 30px;
        padding: 18px;
    }
    .contacttab{
        width:100%;
        margin:auto;
        white-space: pre-wrap;
        td{
            text-align: left;
            padding-left: 4px;
            padding-right: 0px;
        }
        th{
            text-align: center;
            padding-left: 4px;
            padding: 3px;
        }
    }
    .profiletab{
        width:100%;
        margin:auto;
        white-space: pre-wrap;
        td{
            text-align: left;
            padding-left: 4px;
        }
        th{
            text-align: center;
            padding-left: 4px;
            padding: 3px;
        }
    }
    td,th{
        font-size:20px;
    }
}